html,
body {
  margin: 0;
  padding: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  height: 100px;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .row {
  padding-bottom: 20px;
}

header .btns {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

header .btns .btn {
  display: inline-block;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  background-color: #186fca;
  color: #fff;
  font-weight: bolder;
}

header .search {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: auto;
}

header .search * {
  padding: 5px;
  width: 300px;
}

.month-menu {
  margin-top: 20px;
}

.month-menu * {
  display: inline-block;
}

.month-menu .prev,
.month-menu .next,
.month-menu .day {
  border: 1px solid;
  border-radius: 5px;
  padding: 2px;
}

.month-menu .month {
  text-transform: capitalize;
}

table {
  border-collapse: collapse;
}

table td {
  border: 1px solid;
}
