html,
body {
  margin: 0;
  padding: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  height: 100px;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: #d4d4d4 0px 2px 5px;
          box-shadow: #d4d4d4 0px 2px 5px;
}

header .row {
  padding-bottom: 20px;
}

header .btns {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

header .btns .btn {
  display: inline-block;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  background-color: #186fca;
  color: #fff;
  font-weight: bolder;
}

header .search {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: auto;
}

header .search * {
  padding: 5px;
  width: 300px;
}

header .search .icon {
  color: #c2c2c2;
  font-size: medium;
}

.month-menu {
  margin-top: 20px;
}

.month-menu * {
  display: inline-block;
}

.month-menu .prev,
.month-menu .next,
.month-menu .day {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 2px;
}

.month-menu .month {
  text-transform: capitalize;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

table .week-name {
  text-transform: capitalize;
}

table .week-name::after {
  content: ",";
}

table td {
  border: 0.5px solid #d4d4d4;
  width: 100px;
  height: 150px;
  vertical-align: top;
}
